/* elements */
body, select, input, textarea {
  color: #444;
  /* off black */
  font-family: "Gill Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 16px; }

body {
  background: url("../images/bg_home.jpg") top center no-repeat; }

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #a70b20; }

h1 {
  font-family: "Gill Sans MT", "Gill Sans", Helvetica, Arial, sans-serif;
  font-size: 24px; }
  .home h1 {
    margin: inherit 0 25px; }

h3 {
  font-size: 20px;
  margin: 0 0 15px 0; }

p:first-child {
  margin-top: 0; }

a, a:active, a:visited {
  color: #a70b20;
  text-decoration: none; }

a:hover {
  color: #a70b20;
  text-decoration: underline; }
