/* menu */
/* @group hmenu */
.moduletable_hmenu > ul {
  margin: 0;
  padding: 0; }
  .moduletable_hmenu > ul > li {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    position: relative;
    padding: 0 5px; }
    .moduletable_hmenu > ul > li > a,
    .moduletable_hmenu > ul > li > span {
      display: block;
      color: #4d4d4d; }
      .moduletable_hmenu > ul > li > a:hover,
      .moduletable_hmenu > ul > li > span:hover {
        color: #a70b20;
        text-decoration: none; }
  .moduletable_hmenu > ul ul {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; }

.moduletable_hmenu.primary {
  float: left;
  font-size: 16px;
  clear: right;
  width: 100%; }
  .moduletable_hmenu.primary ul {
    border-bottom: 1px solid #e5e5e5;
    padding: 37px 0 12px 0;
    position: relative; }
    .moduletable_hmenu.primary ul li {
      padding: 0 20px; }
      .moduletable_hmenu.primary ul li:first-child {
        padding-left: 0; }
      .moduletable_hmenu.primary ul li.last {
        position: absolute;
        right: 0;
        bottom: 12px; }

.moduletable_hmenu.mini {
  font-size: 13px;
  float: right;
  padding: 0px 10px 0 20px;
  line-height: 41px; }
  .moduletable_hmenu.mini ul li {
    padding: 0 10px;
    border-right: 1px solid #fff;
    line-height: 15px; }
  .moduletable_hmenu.mini ul a {
    color: #fff; }

/* /hmenu */
/* @group vmenu */
.moduletable_vmenu > ul {
  margin: 0;
  padding: 0;
  list-style: none; }

.moduletable_vmenu.footer {
  width: 200px;
  padding: 0 20px 0 0;
  font-size: 13px;
  font-weight: lighter;
  line-height: 18px; }
  .moduletable_vmenu.footer ul li a {
    color: #fff; }
    .moduletable_vmenu.footer ul li a:hover {
      color: #d30c26;
      text-decoration: none; }

/* /vmenu */
