/* @group modules */
.moduletable.fontResizer {
  float: right;
  font-size: 13px;
  padding-right: 10px; }
  .moduletable.fontResizer a {
    padding-left: 5px;
    color: #fff; }
    .moduletable.fontResizer a:hover {
      color: #d30c26;
      text-decoration: none; }
    .moduletable.fontResizer a:first-child {
      padding-left: 0; }

.moduletable.logo {
  float: left;
  margin: -13px 0 0 -9px; }

.moduletable.logoText {
  float: left;
  margin: 67px 0 0 0;
  padding: 0 0 0 25px; }

.moduletable.masthead {
  padding: 20px 0 0 0; }
  .moduletable.masthead img {
    display: block;
    margin: 0 auto; }

/* sidebar mods */
#sidebar .module {
  background: #fff;
  border: 1px solid #e5e5e5;
  padding: 14px 12px 10px;
  margin: 10px 0 0 0;
  line-height: 1em;
  position: relative;
  overflow: hidden; }
  #sidebar .module:first-child {
    margin: 0; }
  #sidebar .module .imaged {
    margin: -14px -12px -10px;
    padding: 14px 12px 10px;
    background: bottom right no-repeat; }
  #sidebar .module h3 {
    position: relative; }
  #sidebar .module h3 + .imaged {
    margin-top: -45px;
    padding-top: 45px; }
  #sidebar .module a {
    color: #4c4c4c; }
    #sidebar .module a:hover {
      color: #a70b20;
      text-decoration: none; }

/* footer mods */
#footer > div > div {
  float: left;
  background: url("../images/footer_divider.png") top left no-repeat; }
  #footer > div > div:first-child {
    background: none; }

.moduletable.footerLinks {
  font-size: 14px;
  width: 400px;
  padding: 0 0 0 20px; }
  .moduletable.footerLinks a {
    color: #d30c26; }

.copyright {
  font-size: 12px;
  width: 279px;
  padding: 0 0 0 19px;
  line-height: 18px; }
  .copyright a {
    color: #fff; }
    .copyright a:hover {
      color: #a70b20;
      text-decoration: none; }
