@import "_variables";
@import "_mixins";

/* elements */
body, select, input, textarea {
	color: $grey; /* off black */
	font-family: "Gill Sans MT", Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 16px;
}

body {
	background-color: #1a1a1a;
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 {
	font-weight: bold;
	color: $red;
}

h1 {
	font-size: 24px;
	
	.home & {
		margin: inherit 0 25px;
	}
}

h3 {
	font-size: 20px;
	margin: 0 0 15px 0;
}

p:first-child {
	margin-top: 0;
}

a, a:active, a:visited {
	color: $red;
	text-decoration: none;
}
a:hover {
	color: $red;
	text-decoration: underline;
}

