@import "_variables";
@import "_mixins";

/* layout */

.container {
	width: 940px;
	padding: 0 10px;
	margin: 0 auto;
	
	#header & {
		position: relative;
	}
}

#top {
	background: url('../images/bg_topRepeat.png') top center repeat-x;
}

#content {
	float: left;
	width: 620px;
	padding: 0 20px 0 0;
}
