@import "_variables";
@import "_mixins";

/* menu */

/* @group hmenu */
.moduletable_hmenu {
	
	> ul {
		margin: 0;
		padding: 0;

		> li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			position: relative;

			padding: 0 5px;

			> a,
			> span {
				display: block;
				color: $grey;
				
				&:hover {
					color: $red;
					text-decoration: none;
				}
			}
		}

		ul {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
		}
	}
} 

.moduletable_hmenu.primary {
	float: left;
	font-size: 16px;
	clear: both;
	width: 100%;
	
	
	ul {
		border-bottom: 1px solid $border;
		padding: 37px 0 12px 0;
		position: relative;
		
		li {
			padding: 0 20px;
			&:first-child {
				padding-left: 0;
			}
			&.last {
				position: absolute;
				right: 0;
				bottom: 12px;
			}
		}
	}
}

.moduletable_hmenu.mini {
	font-size: 13px;
	float: right;
	padding: 13px 10px 0 20px;
	.ie8 & {padding-top: 11px;}
	
	ul {
		
		li {
			padding: 0;
			
			a {
				padding: 0 10px;
				border-right: 1px solid #fff;
				line-height: 15px;
				color: #fff;
				
				&:hover {
					color: $redOnBlack;
				}
			}
		}
	}
}

/* /hmenu */


/* @group vmenu */
.moduletable_vmenu {
	
	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.moduletable_vmenu.footer {
	width: 200px;
	padding: 0 20px 0 0;
	font-size: 13px;
	font-weight: lighter;
	line-height: 18px;
	
	ul {
		
		li {
			
			a {
				color: #fff;
				&:hover {
					color: $redOnBlack;
					text-decoration: none;
				}
			}
		}
	}
}

/* /vmenu */