@import "_variables";
@import "_mixins";

/* menu */

/* @group hmenu */
.moduletable_hmenu {
	
	> ul {
		margin: 0;
		padding: 0;

		> li {
			display: inline-block;
			*display: inline;
			*zoom: 1;
			position: relative;

			padding: 0 5px;
		}

		ul {
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
		}
	}
	
	a,
	span {
		display: block;
		color: $grey;
		
		&:hover {
			color: $red;
			text-decoration: none;
		}
	}
} 

.moduletable_hmenu.primary {
	float: left;
	font-size: 16px;
	clear: both;
	width: 100%;
	
	ul {
		border-bottom: 1px solid $border;
		padding: 37px 0 12px 0;
		position: relative;
		
		li {
			padding: 0 20px;
			
			&:first-child {
				padding-left: 0;
			}
			&.last {
				position: absolute;
				right: 0;
				bottom: 10px;
			}
		}
	}
	
	&.french li {
		padding: 0 15px;
	}
}

.moduletable_hmenu.top {
	float: right;
	
	ul {
		
		li {
			padding: 0;
		}
	}
	
	a {
		padding: 0 10px;
		border-right: 1px solid #fff;
	}
}

/* /hmenu */


/* @group vmenu */
.moduletable_vmenu {
	
	> ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

.moduletable_vmenu.footer {
	width: 200px;
	padding: 0 20px 0 0;
	font-size: 13px;
	font-weight: lighter;
	line-height: 18px;
	
	a {
		color: #fff;
		&:hover {
			color: $redOnBlack;
			text-decoration: none;
		}
	}
}

/* /vmenu */