@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}

.moduletable.fontResizer {
	float: right;
	line-height: 41px;
	height: 41px;
	font-size: 13px;
	
	a {	
		padding-left: 5px;
		color: #fff;
		&:hover {
			color: $redLink;
			text-decoration: none;
		}
		&:first-child {
			padding-left: 0;
		}
	}
}

.moduletable.logo {
	float: left;
	margin: -13px 0 0 -9px;
}

.moduletable.logoText {
	float: left;
	margin: 67px 0 0 0;
	padding: 0 0 0 25px;
}

.moduletable.masthead {
	padding: 20px 0 0 0;
	
	img {
		display: block;
		margin: 0 auto;
	}
}

/* sidebar mods */

#sidebar .module {
	border: 1px solid $border;
	padding: 14px 12px 10px;
	margin: 10px 0 0 0;
	line-height: 1em;
	position: relative;
	overflow: hidden;
	
	.imaged { // blow out to make space for larger background image
		margin: -14px -12px -10px;
		padding: 14px 12px 10px;
		background: bottom right no-repeat;
	}
	
	h3 + .imaged { // blow out more for title
		margin-top: -45px;
		padding-top: 45px;
	}
}


/* footer mods */

#footer .moduletable {
	float: left;
	background: url('../images/footer_divider.png') top left no-repeat;
	&:first-child {
		background: none;
	}
}

.moduletable.footerLinks {
	font-size: 14px;
	width: 400px;
	padding: 0 0 0 20px;
	
	a {
		color: $redLink;
	}
}

.moduletable.copyright {
	font-size: 12px;
	width: 279px;
	padding: 0 0 0 19px;
	line-height: 18px;
	
	a {
		color: #fff;
		
		&:hover {
			color: $red;
			text-decoration: none;
		}
	}
}