@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}


/* top modules */
.moduletable.fontResizer {
	float: right;
	padding: 0 10px;
	
	a {	
		padding: 0 10px 0 5px;
		border-right: 1px solid #fff;
		
		&:first-child {
			padding: 0;
			border: none;
		}
	}
}

.moduletable.print {
	float: right;
	
	a {
		padding: 0 10px;
		border-right: 1px solid #fff;
	}
}

.moduletable.langSwitch {
	float: right;
	
	li {
		margin: 0;
		padding: 0;
		&.lang-active {
			display: none;
			margin: 0;
			padding: 0;
		}
	}
}


/* header modules */
.moduletable.logo {
	float: left;
	margin: -13px 0 0 -9px;
}

.moduletable.logoText {
	float: left;
	margin: 66px 0 0 0;
	padding: 0 0 0 25px;
	
	font-size: 35px;
	line-height: 32px;
	font-weight: bold;
	color: $red;
}

/* masthead modules */
.moduletable.masthead {
	padding: 20px 0 0 0;
	
	img {
		display: block;
		margin: 0 auto;
	}
}

/* sidebar mods */

#sidebar .module {
	background: #fff;
	border: 1px solid $border;
	padding: 14px 12px 10px;
	margin: 10px 0 0 0;
	line-height: 1em;
	position: relative;
	overflow: hidden;
	&:first-child {
		margin: 0;
	}
	
	.imaged { // blow out to make space for larger background image
		margin: -14px -12px -10px;
		padding: 14px 12px 10px;
		background: bottom right no-repeat;
	}
	
	h3 {
		position: relative;
	}
	
	h3 + .imaged { // blow out more for title
		margin-top: -45px;
		padding-top: 45px;
	}
	
	a {
		color: $grey;
		&:hover {
			color: $red;
			text-decoration: none;
		}
	}
}


/* footer mods */
#footer > div > div {
	float: left;
	background: url('../images/footer_divider.png') top left no-repeat;
	&:first-child {
		background: none;
	}
}

.moduletable.resources {
	font-size: 14px;
	width: 400px;
	padding: 0 0 0 20px;
	
	a {
		color: $redOnBlack;
	}
}

.moduletable.copyright {
	font-size: 12px;
	width: 279px;
	padding: 0 0 0 19px;
	line-height: 18px;
	
	a {
		color: #fff;
		
		&:hover {
			color: $red;
			text-decoration: none;
		}
	}
}