@import "_variables";
@import "_mixins";

/* @group modules */
.moduletable {}

.moduletable.logo {
	float: left;
	margin: -13px 0 0 -9px;
}

.moduletable.logoText {
	float: left;
	margin: 67px 0 0 0;
	padding: 0 0 0 25px;
}

.moduletable.masthead {
	background: url('../images/bg_masthead.png') bottom center no-repeat;
	padding: 20px 0 0 0;
}